.main-container {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

.avatar {
  width: 150px;   /* Ширина аватара */
  height: 150px;  /* Высота аватара */
  border-radius: 50%; /* Скругление углов для создания круглого изображения */
  margin-bottom: 10px; /* Отступ снизу */
}

